<div class="section section-comments">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <div class="media-area">
                  <h3 class="title text-center">3 Comments</h3>
                  <div class="media">
                      <a class="pull-left" href="#pablo">
                          <div class="avatar">
                              <img class="media-object img-raised" src="assets/img/james.jpg" alt="..." />
                          </div>
                      </a>
                      <div class="media-body">
                          <h5 class="media-heading">Tina Andrew
                              <small class="text-muted">&middot; 7 minutes ago</small>
                          </h5>
                          <p>Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>
                          <p>All praises and blessings to the families of people who never gave up on dreams. Don't forget, You're Awesome!</p>
                          <div class="media-footer">
                              <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                  <i class="now-ui-icons ui-1_send"></i> Reply
                              </a>
                              <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                  <i class="now-ui-icons ui-2_favourite-28"></i> 243
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="media">
                      <a class="pull-left" href="#pablo">
                          <div class="avatar">
                              <img class="media-object img-raised" alt="Tim Picture" src="assets/img/michael.jpg">
                          </div>
                      </a>
                      <div class="media-body">
                          <h5 class="media-heading">John Camber
                              <small class="text-muted">&middot; Yesterday</small>
                          </h5>
                          <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                          <p> Don't forget, You're Awesome!</p>
                          <div class="media-footer">
                              <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                  <i class="now-ui-icons ui-1_send"></i> Reply
                              </a>
                              <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                  <i class="now-ui-icons ui-2_favourite-28"></i> 25
                              </a>
                          </div>
                          <div class="media">
                              <a class="pull-left" href="#pablo">
                                  <div class="avatar">
                                      <img class="media-object img-raised" alt="64x64" src="assets/img/julie.jpg">
                                  </div>
                              </a>
                              <div class="media-body">
                                  <h5 class="media-heading">Tina Andrew
                                      <small class="text-muted">· 2 Days Ago</small>
                                  </h5>
                                  <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                  <p> Don't forget, You're Awesome!</p>
                                  <div class="media-footer">
                                      <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                          <i class="now-ui-icons ui-1_send"></i> Reply
                                      </a>
                                      <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                          <i class="now-ui-icons ui-2_favourite-28"></i> 2
                                      </a>
                                  </div>
                              </div>
                          </div>

                          <div class="media">
                            <a class="pull-left" href="#pablo">
                                <div class="avatar">
                                    <img class="media-object img-raised" alt="64x64" src="assets/img/julie.jpg">
                                </div>
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">Tina Andrew
                                    <small class="text-muted">· 2 Days Ago</small>
                                </h5>
                                <p>{{ newComment }}</p>
                                <p> Don't forget, You're Awesome!</p>
                                <div class="media-footer">
                                    <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                        <i class="now-ui-icons ui-1_send"></i> Reply
                                    </a>
                                    <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                        <i class="now-ui-icons ui-2_favourite-28"></i> 2
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                      </div>
                  </div>
              </div>
              <h3 class="title text-center">Post your comment</h3>
              <div class="media media-post">
                  <a class="pull-left author" href="#pablo">
                      <div class="avatar">
                          <img class="media-object img-raised" alt="64x64" src="assets/img/olivia.jpg">
                      </div>
                  </a>
                  <div class="media-body">
                      <textarea class="form-control" placeholder="Write a nice reply or go home..." rows="4"></textarea>
                      <div class="media-footer">
                          <!-- <a href="#pablo" class="btn btn-primary pull-right">
                              <i class="now-ui-icons ui-1_send"></i> Reply
                          </a> -->
                          <button class="btn btn-primary pull-right" (click)="onAddComment()">Save Comment</button>
                      </div>
                  </div>
              </div>
              <!-- end media-post -->
          </div>
      </div>
  </div>
</div>