<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/Jim_Garoutte_9.jpg') ;"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">How I work on the Road</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <!-- <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="button-container">
                      <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                          <i class="now-ui-icons text_align-left"></i> Read Article
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                          <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                          <i class="fa fa-google"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div> -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title">
              I’m a software engineer, or programmer, or developer…
            </h3>
            <p>
              …or whatever you want to call me…I don’t get too hung up on
              titles…the important thing is that I get paid for writing
              software…and I get to do it remotely. It’s my dream job, getting
              to travel around the country in a travel trailer and work from
              anywhere…or almost anywhere.
              <br />
              <br />
              I say “almost anywhere” because before I go to a new location I
              have to make sure it has either really good wifi or a really good
              T-Mobile signal since most of the time I hot-spot my laptop to my
              phone for connectivity.
              <br />
              <br />
              Discovering a hardware setup that allowed me to work remotely was
              not easy…and it included a bit of trial-and-error. My early
              research showed many technology options that should work, but I
              was looking for the one that was both highly functional and
              cost-effective.
            </p>
            <p class="blockquote blockquote-primary">
              “A Happier Work Life. Remote, flexible workers tend to be happier
              and more loyal employees. Working from home has been shown to
              lower stress, improve personal relationships, and provide time for
              hobbies and interests."
              <br />
              <br />
              <small>
                The Benefits of Remote Work, FlexJobs
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-blog col-md-10 ml-auto mr-auto">
      <div class="container">
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div
                class="image-container image-left"
                style="background-image: url('assets/img/T_Mobile_Coverage.jpg')"
              >
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">
                  “Remote work can increase worker productivity. ... What's
                  more, two-thirds of managers say employees who work remotely
                  increase their overall productivity.”
                  <br />
                  <br />
                  <small>17 Stats About Remote Work, Remote.co</small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div
                class="image-container image-left-bottom"
                style="background-image: url('assets/img/Cell_Booster_Pole.jpg')"
              ></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div
                class="image-container image-right"
                style="background-image: url('assets/img/Cell_Booster_Antenna.jpg')"
              ></div>
              <!-- <h3>The bar looks a lot like the Hollywood image of an old West bar...</h3> -->
              <p>
                First of all, I decided to stick with T-Mobile since they have
                good coverage in most of the areas I like to travel. The only
                addition I made was to upgrade my phone plan by adding
                T-Mobile’s “One Plus International” which improves connectivity
                and hot-spotting ability.
                <br />
                <br />
                Next, I researched cell phone boosters where I discovered that
                the ones designed for houses are more powerful than the ones
                designed for vehicles, and since I was only planning on using it
                once I have the travel trailer parked in a campground…why get a
                mobile one? Anyway, I finally settled on the “Solid RF” since it
                was only around $200 at the time through Amazon. So now I had my
                hardware selected and it was time to take the system out and
                test it!
              </p>
              <p>
                On my first test run with the new setup things did not go
                well…while it boosted the signal a small amount, it was not
                enough to make a real difference. Of course, that was mostly my
                fault since the instructions said to place the interior antenna
                at least 20 feet away from the exterior antenna with a height
                differential of at least 6 feet and I had just draped the
                outside antenna over the highest tree limb I could reach and
                hoped for the best…not a good plan, and modifications were
                required.
              </p>
              <p>
                Prior to the next test run I installed an outside antenna mount
                on my trailer. It’s made out of a pole saw extension tube which
                is attached to the back ladder of the trailer via zip tie
                straps. Then my wife and I designed and created a swiveling
                mount on the top of the pole where I attach the antenna once we
                get parked…the swivel is important because it allows me to point
                the antenna in any direction when looking for the best signal.
                That being said, once the pole saw extension tube is fully
                extended it’s about 18 feet off the ground and since it’s at the
                back of the trailer and the inside antenna is near the front of
                the trailer I now have the required minimum distance of 20 feet
                between antennas. Finally, to get all of the components wired
                together I connect the outside antenna coaxial cable to the
                satellite TV coaxial jack on the side of the trailer and have a
                short coaxial cable between the inside satellite TV jack and the
                system amplifier.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <p>
              Anyway, the system works like a charm as long as I remember it’s
              limitations. For example…it can only boost a signal if there is a
              line-of-sight from the antenna to the nearest T-Mobile tower…in
              other words, if there is no signal then it isn’t going to be able
              to boost it. This happened to us in a campground in Colorado with
              mountains all around us. Also, while it will boost any available
              cell phone signal it will only boost it by about 50%…so a 2G
              signal will get boosted but probably not enough since I need at
              least 1 bar of 4G LTE to be able to get any work done.
            </p>
            <br />
            <p>
              In conclusion, getting a system that works for you isn’t rocket
              science but it can be a bit tedious so I hope this article helps
              someone pick the right equipment and not make some of the dumb
              mistakes I made…good luck!
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="section section-comments">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="media-area">
              <h3 class="title text-center">3 Comments</h3>
              <div class="media">
                <a class="pull-left" href="#pablo">
                  <div class="avatar">
                    <img
                      class="media-object img-raised"
                      src="assets/img/james.jpg"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="media-body">
                  <h5 class="media-heading">
                    Tina Andrew
                    <small class="text-muted">&middot; 7 minutes ago</small>
                  </h5>
                  <p>
                    Chance too good. God level bars. I'm so proud of
                    @LifeOfDesiigner #1 song in the country. Panda! Don't be
                    scared of the truth because we need to restart the human
                    foundation in truth I stand with the most humility. We are
                    so blessed!
                  </p>
                  <p>
                    All praises and blessings to the families of people who
                    never gave up on dreams. Don't forget, You're Awesome!
                  </p>
                  <div class="media-footer">
                    <a
                      href="#pablo"
                      class="btn btn-primary btn-neutral pull-right"
                      placement="top"
                      ngbTooltip="Reply to Comment"
                    >
                      <i class="now-ui-icons ui-1_send"></i> Reply
                    </a>
                    <a
                      href="#pablo"
                      class="btn btn-danger btn-neutral pull-right"
                    >
                      <i class="now-ui-icons ui-2_favourite-28"></i> 243
                    </a>
                  </div>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="#pablo">
                  <div class="avatar">
                    <img
                      class="media-object img-raised"
                      alt="Tim Picture"
                      src="assets/img/michael.jpg"
                    />
                  </div>
                </a>
                <div class="media-body">
                  <h5 class="media-heading">
                    John Camber
                    <small class="text-muted">&middot; Yesterday</small>
                  </h5>
                  <p>
                    Hello guys, nice to have you on the platform! There will be
                    a lot of great stuff coming soon. We will keep you posted
                    for the latest news.
                  </p>
                  <p>Don't forget, You're Awesome!</p>
                  <div class="media-footer">
                    <a
                      href="#pablo"
                      class="btn btn-primary btn-neutral pull-right"
                      placement="top"
                      ngbTooltip="Reply to Comment"
                    >
                      <i class="now-ui-icons ui-1_send"></i> Reply
                    </a>
                    <a
                      href="#pablo"
                      class="btn btn-danger btn-neutral pull-right"
                    >
                      <i class="now-ui-icons ui-2_favourite-28"></i> 25
                    </a>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="#pablo">
                      <div class="avatar">
                        <img
                          class="media-object img-raised"
                          alt="64x64"
                          src="assets/img/julie.jpg"
                        />
                      </div>
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading">
                        Tina Andrew
                        <small class="text-muted">· 2 Days Ago</small>
                      </h5>
                      <p>
                        Hello guys, nice to have you on the platform! There will
                        be a lot of great stuff coming soon. We will keep you
                        posted for the latest news.
                      </p>
                      <p>Don't forget, You're Awesome!</p>
                      <div class="media-footer">
                        <a
                          href="#pablo"
                          class="btn btn-primary btn-neutral pull-right"
                          placement="top"
                          ngbTooltip="Reply to Comment"
                        >
                          <i class="now-ui-icons ui-1_send"></i> Reply
                        </a>
                        <a
                          href="#pablo"
                          class="btn btn-danger btn-neutral pull-right"
                        >
                          <i class="now-ui-icons ui-2_favourite-28"></i> 2
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="title text-center">Post your comment</h3>
            <div class="media media-post">
              <a class="pull-left author" href="#pablo">
                <div class="avatar">
                  <img
                    class="media-object img-raised"
                    alt="64x64"
                    src="assets/img/olivia.jpg"
                  />
                </div>
              </a>
              <div class="media-body">
                <textarea
                  class="form-control"
                  placeholder="Write a nice reply or go home..."
                  rows="4"
                ></textarea>
                <div class="media-footer">
                  <a href="#pablo" class="btn btn-primary pull-right">
                    <i class="now-ui-icons ui-1_send"></i> Reply
                  </a>
                </div>
              </div>
            </div>
            <!-- end media-post -->
          </div>
        </div>
      </div>
    </div>
    <footer class="footer " data-background-color="black">
      <div class="container">
        <div class="copyright">
          &copy; Designed by
          <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
          Coded by
          <a href="https://www.creative-tim.com" target="_blank"
            >Creative Tim and Jim Garoutte</a
          >.
        </div>
      </div>
    </footer>
  </div>
</div>
