
<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/White_Shaman_Cabin_1.jpg') ;">
      </div>
      <div class="content-center">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">The Strange Attraction of Southwest Texas</h2>
                  <!-- <h4>WeChat launched in 2013.</h4> -->
              </div>
          </div>
      </div>
  </div>
  <div class="section">
      <!-- <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="button-container">
                      <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                          <i class="now-ui-icons text_align-left"></i> Read Article
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                          <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                          <i class="fa fa-google"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h3 class="title">One of the earliest trips Eloisa and I took...</h3>
                      <p>...to the desert in southwest Texas was to spend  
                        a weekend with another couple in a cabin overlooking the Pecos river. The cabin we 
                        stayed in was on land once owned by the Rock Art Foundation but now owned by the 
                        Witte Museum of San Antonio (you can read about it <a href="https://www.wittemuseum.org/rock-art/">here</a>
                        <br />
                          <br /> The couple we were staying with, Dave and Patty, had access to the cabin because Dave 
                          was one of the guides to the pictograph sites on the land. The cabin was extremely 
                          rustic, with no electricity or running water and since this trip occurred in a time before 
                          smart phones, we spent the evenings talking to each other. During one of our 
                          conversations I remember telling Dave that even though that part of the country is 
                          impressive, I just wasn't comfortable there. He asked why, and after a short pause I told 
                          him that everything about the area felt dangerous to me. 
                          </p>
                      <p class="blockquote blockquote-primary">
                        "I couldn't believe Texas was real. When I arrived there, there wasn't a blade of green grass or a leaf to be seen, but I was absolutely crazy about it. There wasn't a tree six inches in diameter at the time. For me Texas is the same big wonderful thing that the oceans and the highest mountains are."  
                          <br>
                          <br>
                          <small>
                            Georgia O'Keefe - artist  
                          </small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-blog col-md-10 ml-auto mr-auto">
          <div class="container">
              <div class="section-story-overview">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="image-container image-left" style="background-image: url('assets/img/Seminole_4.jpg')">
                              <!-- First image on the left side -->
                              <p class="blockquote blockquote-primary">“This country will kill you in a heartbeat and still people love it.” 
                                  <br>
                                  <br>
                                  <small>-Cormac McCarthy, "No Country for Old Men"</small>
                              </p>
                          </div>
                          <!-- Second image on the left side of the article -->
                          <div class="image-container image-left-bottom" style="background-image: url('assets/img/Seminole_5.jpg')">
                          </div>
                      </div>
                      <div class="col-md-5">
                          <!-- First image on the right side, above the article -->
                          <div class="image-container image-right" style="background-image: url('assets/img/Seminole_1.jpg')">
                          </div>
                          <h3>In truth, the desert near where the Pecos and Rio Grande rivers converge is dangerous.</h3>
                          <p>
                                It's dry scrubland covered with prickly pear cactus, tasajillo, yucca, and Agave 
                                lechuguilla...all species of vegetation evolved to poke you with spiny leaves or thorns if 
                                you get too close. And the creatures that populate the area aren't much 
                                different...scorpions, centipedes, snakes and red ants prevail. It's a very sparsely populated area. 
                                From Comstock to Sanderson is 88 miles of of scrubland with only small towns like Langtry (pop. 12) and Dryden (pop. 33) 
                                and the occasional scattered ranch house (some occupied, but most abandoned) to break up the monotony of the road. 
                                A break-down on this road, where there is often no cell phone service and little traffic could mean hours of 
                                sitting and waiting for a Highway Patrol cruiser to happen by.  It truly feels desolate and  
                                desperate.
                          </p>
                          <!-- <p>
                              For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                          </p>
                          <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                          </p> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h3 class="title">But...the desolation is also part of its attraction.</h3>
                      <p> Sometimes, the silence is so complete 
                            you can feel your mind and body relax like you've been unplugged. And the night sky 
                            is so dark you can see a multitude of stars with a clarity not seen in most parts of 
                            the country. Dave told me that he knew of a few people who had sold their homes in the
                            city and bought ranches in the area to try to permanently get that feeling of serenity. But
                            after a while, most of them began to go a little crazy from the loneliness and isolation and
                            ran back to the noise and chaos of civilization.
                            
                      </p>
                         <br /> 
                      <p> We've been back to the desert many times since that trip. We usually stay at Seminole 
                            Canyon State Park, about 10 miles west of Comstock. Sometimes we stay for just a weekend and 
                            sometimes we stay for a few weeks. For us, it’s like recharging out “inner-peace” batteries, 
                            and it can be an almost spiritual experience…but I wouldn’t want to live there.
                      </p></div>
              </div>
          </div>
      </div>
      <!-- <div class="section section-blog-info">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="blog-tags">
                                  Tags:
                                  <span class="label label-primary">Photography</span>
                                  <span class="label label-primary">Stories</span>
                                  <span class="label label-primary">Castle</span>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <a href="#pablo" class="btn btn-google btn-round pull-right">
                                  <i class="fa fa-google"></i> 232
                              </a>
                              <a href="#pablo" class="btn btn-twitter btn-round pull-right">
                                  <i class="fa fa-twitter"></i> 910
                              </a>
                              <a href="#pablo" class="btn btn-facebook btn-round pull-right">
                                  <i class="fa fa-facebook-square"></i> 872
                              </a>
                          </div>
                      </div>
                      <hr />
                      <div class="card card-profile card-plain">
                          <div class="row">
                              <div class="col-md-2">
                                  <div class="card-avatar">
                                      <a href="#pablo">
                                          <img class="img img-raised" src="assets/img/mike.jpg">
                                      </a>
                                      <div class="ripple-container"></div>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <h4 class="card-title">Alec Thompson</h4>
                                  <p class="description">I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound...I like good music from Youtube.</p>
                              </div>
                              <div class="col-md-2">
                                  <button type="button" class="btn btn-default pull-right btn-round">Follow</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- <div class="section section-comments">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <div class="media-area">
                          <h3 class="title text-center">3 Comments</h3>
                          <div class="media">
                              <a class="pull-left" href="#pablo">
                                  <div class="avatar">
                                      <img class="media-object img-raised" src="assets/img/james.jpg" alt="..." />
                                  </div>
                              </a>
                              <div class="media-body">
                                  <h5 class="media-heading">Tina Andrew
                                      <small class="text-muted">&middot; 7 minutes ago</small>
                                  </h5>
                                  <p>Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>
                                  <p>All praises and blessings to the families of people who never gave up on dreams. Don't forget, You're Awesome!</p>
                                  <div class="media-footer">
                                      <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                          <i class="now-ui-icons ui-1_send"></i> Reply
                                      </a>
                                      <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                          <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="media">
                              <a class="pull-left" href="#pablo">
                                  <div class="avatar">
                                      <img class="media-object img-raised" alt="Tim Picture" src="assets/img/michael.jpg">
                                  </div>
                              </a>
                              <div class="media-body">
                                  <h5 class="media-heading">John Camber
                                      <small class="text-muted">&middot; Yesterday</small>
                                  </h5>
                                  <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                  <p> Don't forget, You're Awesome!</p>
                                  <div class="media-footer">
                                      <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                          <i class="now-ui-icons ui-1_send"></i> Reply
                                      </a>
                                      <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                          <i class="now-ui-icons ui-2_favourite-28"></i> 25
                                      </a>
                                  </div>
                                  <div class="media">
                                      <a class="pull-left" href="#pablo">
                                          <div class="avatar">
                                              <img class="media-object img-raised" alt="64x64" src="assets/img/julie.jpg">
                                          </div>
                                      </a>
                                      <div class="media-body">
                                          <h5 class="media-heading">Tina Andrew
                                              <small class="text-muted">· 2 Days Ago</small>
                                          </h5>
                                          <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                          <p> Don't forget, You're Awesome!</p>
                                          <div class="media-footer">
                                              <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                                  <i class="now-ui-icons ui-1_send"></i> Reply
                                              </a>
                                              <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                                  <i class="now-ui-icons ui-2_favourite-28"></i> 2
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <h3 class="title text-center">Post your comment</h3>
                      <div class="media media-post">
                          <a class="pull-left author" href="#pablo">
                              <div class="avatar">
                                  <img class="media-object img-raised" alt="64x64" src="assets/img/olivia.jpg">
                              </div>
                          </a>
                          <div class="media-body">
                              <textarea class="form-control" placeholder="Write a nice reply or go home..." rows="4"></textarea>
                              <div class="media-footer">
                                  <a href="#pablo" class="btn btn-primary pull-right">
                                      <i class="now-ui-icons ui-1_send"></i> Reply
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- <div class="section">
          <div class="container">
              <div class="col-md-12">
                  <h2 class="title text-center">Similar Stories</h2>
                  <br />
                  <div class="blogs-1" id="blogs-1">
                      <div class="row">
                          <div class="col-md-10 ml-auto mr-auto">
                              <div class="card card-plain card-blog">
                                  <div class="row">
                                      <div class="col-md-5">
                                          <div class="card-image">
                                              <img class="img img-raised rounded" src="assets/img/examples/card-blog4.jpg">
                                          </div>
                                      </div>
                                      <div class="col-md-7">
                                          <h6 class="category text-info">Enterprise</h6>
                                          <h3 class="card-title">
                                              <a href="#pablo">Warner Music Group buys concert discovery service Songkick</a>
                                          </h3>
                                          <p class="card-description">
                                              Warner Music Group announced today it’s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company’s trademark.
                                          </p>
                                          <p class="author">
                                              by
                                              <a href="#pablo">
                                                  <b>Sarah Perez</b>
                                              </a>, 2 days ago
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card card-plain card-blog">
                                  <div class="row">
                                      <div class="col-md-7">
                                          <h6 class="category text-danger">
                                              <i class="now-ui-icons now-ui-icons media-2_sound-wave"></i> Startup
                                          </h6>
                                          <h3 class="card-title">
                                              <a href="#pablo">Insticator raises $5.2M to help publishers</a>
                                          </h3>
                                          <p class="card-description">
                                              Insticator is announcing that it has raised $5.2 million in Series A funding. The startup allows online publishers to add quizzes, polls and other interactive elements...
                                          </p>
                                          <p class="author">
                                              by
                                              <a href="#pablo">
                                                  <b>Anthony Ha</b>
                                              </a>, 5 days ago
                                          </p>
                                      </div>
                                      <div class="col-md-5">
                                          <div class="card-image">
                                              <img class="img img-raised rounded
                                      " src="assets/img/examples/card-blog6.jpg">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <footer class="footer " data-background-color="black">
      <div class="container">
          <!-- <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/license">
                          License
                      </a>
                  </li>
              </ul>
          </nav> -->
          <div class="copyright">
              &copy; Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim and Jim Garoutte</a>.
          </div>
      </div>
  </footer>
</div>
