<nav class="navbar navbar-expand-lg fixed-top" (scroll)="onWindowScroll($event);">
  <div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/landing']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/blogposts']">Blog</a>
      </li>
      <li class="nav-item">
        <a
          *ngIf="!userIsAuthenticated"
          class="nav-link"
          [routerLink]="['/login']"
          >Login</a
        >
        <button
          *ngIf="userIsAuthenticated"
          type="button"
          class="btn btn-warning btn-sm"
          (click)="onLogout()"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>