<nav
  class="navbar navbar-expand-lg bg-default fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="dropdown button-dropdown">
      <div ngbDropdown></div>
    </div>
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/landing']"
        placement="bottom"
        ngbTooltip=""
      >
        Home
      </a>
      <a
        class="navbar-brand"
        [routerLink]="['/blogposts']"
        placement="bottom"
        ngbTooltip=""
      >
        Blog
      </a>
      <a
        *ngIf="!userIsAuthenticated"
        class="navbar-brand"
        [routerLink]="['/login']"
        placement="bottom"
        ngbTooltip=""
      >
        Login
      </a>
      <button *ngIf="userIsAuthenticated" type="button" class="btn btn-primary" (click)="onLogout()">
        Logout
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      ></button>
    </div>
  </div>
</nav>
