<div class="wrapper">
  <div class="page-header page-header-large">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/2375_1.jpg');">
      </div>
      <div class="container">
          <div class="content-center">
              <h1 class="title">Our Travel Trailer Adventures!</h1>
              <!-- <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                      <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                      <i class="fa fa-google-plus"></i>
                  </a>
              </div> -->
          </div>
      </div>
  </div>
  <div class="section section-about-us">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Who are we?</h2>
                  <h5 class="description">We are Jim and Eloisa Garoutte and we love to travel!
                  </h5>
              </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image-container image-left" style="background-image: url('assets/img/Seminole_1.jpg')">
                          <!-- First image on the left side -->
                          <p class="blockquote blockquote-primary">"Moving me down the highway. Rolling me down the highway. Moving ahead so life won't pass me by. "
                              <br>
                              <br>
                              <small>-Jim Croce</small>
                          </p>
                      </div>
                      <!-- Second image on the left side of the article -->
                      <div class="image-container" style="background-image: url('assets/img/Jim_Elo_2.jpg')"></div>
                  </div>
                  <div class="col-md-5">
                      <!-- First image on the right side, above the article -->
                      <div class="image-container image-right" style="background-image: url('assets/img/Jim_Elo_1.jpg')"></div>
                      <h3>So, how did this whole travelling around the country in a trailer start?</h3>
                      <p>
                          We have always loved to travel and camp. In fact, we were avid tent campers for 25 years. But in 2011 we felt we were getting a bit old to crawl in and out of a tent so we took the plunge and bought our first travel trailer, a used 21 foot bunkhouse model made by R-Vision. It was the perfect trailer for us since we traveled with our daughter and since most of our trips were short weekend and holiday excursions. Then in April of 2018 Jim landed his dream job...a job that allows him to work remotely from anywhere in U.S. territory! 
                      </p>
                      <p>
                          Our first long trip (as empty nesters) was done in September of 2018, right after we dropped our daughter off at college. We took a 2000 mile jaunt through parts of Texas, New Mexico, and Colorado. You can read about it <a href="#">here</a>. 
                      </p>    
                      <p>
                          Every time we take a trip we will be adding information and photos about our experience. Hopefully it will be interesting enough that you continue to follow us on our journey!
                      </p> 
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="section section-team text-center">
      <div class="container">
          <h2 class="title">Here is our team</h2>
          <div class="team">
              <div class="row">
                  <div class="col-md-6">
                      <div class="team-player">
                          <img src="assets/img/Eloisa_Garoutte_2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">Eloisa Garoutte</h4>
                          <p class="category text-primary">Logistics and Planning</p>
                          <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                              <a href="#">links</a> for people to be able to follow them outside the site.</p>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="team-player">
                          <img src="assets/img/Jim_Garoutte_3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">Jim Garoutte</h4>
                          <p class="category text-primary">Driver and website developer</p>
                          <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                              <a href="#">links</a> for people to be able to follow them outside the site.</p>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-linkedin"></i></a>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="team-player">
                          <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">Eva Jenner</h4>
                          <p class="category text-primary">Fashion</p>
                          <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                              <a href="#">links</a> for people to be able to follow them outside the site.</p>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-google-plus"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-youtube-play"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- <div class="section section-contact-us text-center">
      <div class="container">
          <h2 class="title">Want to work with us?</h2>
          <p class="description">Your project is very important to us.</p>
          <div class="row">
              <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend" >
                    <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                    <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                </div>
                <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group-prepend" >
                    <span class="input-group-text">
                          <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                  </div>
                    <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                </div>
                  <div class="textarea-container">
                      <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                  </div>
                  <div class="send-button">
                      <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <footer class="footer footer-default">
      <div class="container">
          <nav>
              <ul>
                  <!-- <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li> -->
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. Modified by
              <a href="" target="_blank">Jim Garoutte</a>.
          </div>
      </div>
  </footer>
</div>
