
<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Alpine_1.jpg') ;">
      </div>
      <div class="content-center">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">An Unusual Evening in Alpine</h2>
              </div>
          </div>
      </div>
  </div>
  <div class="section">
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h3 class="title">We struck up a conversation with the bartender...</h3>
                      <p>...in the Hotel Paisano in Marfa, Texas. He told us that while he works in Marfa, 
                        he actually lives in Alpine, about 20 miles east on highway 90 and since we were staying 
                        in the Lost Alaskan RV park in Alpine, we asked him to recommend some cool, local places 
                        to get a drink. He said we should try either Harry's Tenaja or the Hotel Ritchey.
                        <br />
                        <br/> A few nights later we found ourselves going into the Hotel Ritchey, once a hotel 
                          but now a wine saloon and beer garden, where I ordered a sparkling water and the wife 
                          ordered a glass of Spanish red. The main room in the bar has about 6 small tables so 
                          we picked one out and sat down. 
                        </p>
                      <p class="blockquote blockquote-primary">
                        “Austin may be weird, but Alpine is far out"  
                          <br>
                          <br>
                          <small>
                            unofficial slogan of Alpine, Texas  
                          </small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-blog col-md-10 ml-auto mr-auto">
          <div class="container">
              <div class="section-story-overview">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="image-container image-left" style="background-image: url('assets/img/Seminole_7.jpg')">
                              <!-- First image on the left side -->
                              <p class="blockquote blockquote-primary">“The Murphys, who were Irish Catholics, officially filed for and developed the plat for the original town of Murphyville. In 1888, the village name was changed to Alpine.” 
                                  <br>
                                  <br>
                                  <small>-B.J. Gallego (from La Vista de la Frontera Vol. 16(1):10.)</small>
                              </p>
                          </div>
                          <!-- Second image on the left side of the article -->
                          <div class="image-container image-left-bottom" style="background-image: url('assets/img/Alpine_6.jpg')">
                          </div>
                      </div>
                      <div class="col-md-5">
                          <!-- First image on the right side, above the article -->
                          <div class="image-container image-right" style="background-image: url('assets/img/Alpine_5.jpg')">
                          </div>
                          <h3>The bar looks a lot like the Hollywood image of an old West bar...</h3>
                          <p>
                              ...in fact we were commenting on that when Roberta, the woman at the next 
                              table began to explain the history of the hotel to us, which you can read 
                              <a href="http://www.hotelritchey.com">here.</a> Within a few minutes we were joined 
                              by Albert, a scruffy, mildly inebriate character who I assumed was the town drunk. 
                              He asked Roberta if he could sit at her table and because she acquiesced so 
                              begrudgingly I expected him to be one of those annoying drunks who gets on everyone's nerves.
                              <br>
                              <br>
                              Upon seeing Albert join us, a man named Ted, a temporary Chicago transplant, 
                              pulled up a chair.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h3 class="title">We chatted about the virtues of Alpine for awhile...</h3>
                      <p> ...such as the climate, the restaurants and the people. At some point,
                          someone mentioned the Marfa lights and the term "weird shit" was used and 
                          that seemed to be the cue Ted was waiting for and he said "Speaking of weird 
                          shit, Albert here is the local expert on weird shit!". As I began to speculate that
                          he probably worked at the local waste treatment plant, Albert began to expound 
                          on his favorite topic: "Did Indigenous Peoples in the area feed mushrooms to their 
                          domesticated turkey's, especially during hard times?". Determining this involved, 
                          among other things, a study of fossilized turkey shit, hence the reference to his expertise.
                      </p>
                         <br />
                      <p> I was shocked...I told Albert "When you walked up I thought you would have nothing 
                          interesting to say", talk about a lesson in not judging a book by it's cover! 
                      </p>
                        <br />
                      <p>
                          Anyway, Albert began to heat up to his topic, in that mildly drunk speed-talking way. 
                          He got especially excited when he found out that Eloisa was from Spain. He described 
                          how he was researching colonial Spanish papers looking for clues in his search. 
                          He explained how there were 3 words in colonial Spanish that were used for "mushroom" 
                          and he wondered if she could elaborate on the differences between the words. After 
                          Eloisa did her best to field his question she finally asked him why he cared about 
                          this subject and that's when we learned that Albert taught at Sul Ross University 
                          and was on a research grant. He admitted there was no obvious practical application 
                          for learning the answer to the turkey shit question, except to gain knowledge for knowledge's sake.
                          <br />
                          <br />
                          After chatting for awhile we got hungry so we decided to go next door to the Mexican restaurant. 
                          As we got up to leave, Roberta also made her her escape, it was obvious she'd heard this shit before.
                      </p>
                    </div>
              </div>
          </div>
      </div>
  <footer class="footer " data-background-color="black">
      <div class="container">
          <div class="copyright">
              &copy; Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim and Ted Garoutte</a>. 
          </div>
      </div>
  </footer>
</div>
