<div class="page-header page-header-large" filter-color="white">
    <div class="page-header-image" style="background-image:url(assets/img/Seminole_2.jpg)"></div>
      <div class="container">
          <br>
          <br>
          <br>
          <br>
          <div class="team">
              <div class="row">
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="" alt="" class="rounded-circle img-fluid img-raised">
                            <nav>
                                <a routerLink=""><h4 class="title"></h4></a>
                            </nav>
                            <p class="category text-primary"></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <div class="team-player">
                          <img src="assets/img/Eloisa_Garoutte_2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <nav>
                              <a routerLink="/live/profile/1"><h4>Eloisa Garoutte</h4></a>
                          </nav>
                          <p class="category text-primary">Logistics and Photography</p>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="team-player">
                          <img src="assets/img/Jim_Garoutte_3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <nav>
                              <a routerLink="/live/profile/2"><h4 class="title">Jim Garoutte</h4></a>
                          </nav>
                          <p class="category text-primary">Driving and Website Development</p>
                      </div>
                  </div>
                  <!-- <div class="col-md-4">
                      <div class="team-player">
                          <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">Eva Jenner</h4>
                          <p class="category text-primary">Fashion</p>
                          <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                              <a href="#">links</a> for people to be able to follow them outside the site.</p>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-google-plus"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-youtube-play"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>