<div class="page-header page-header-large" filter-color="white">
  <div class="page-header-image" style="background-image:url(assets/img/Tent_Rocks_4.jpg)"></div>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <a routerLink="/live/adventure/1">here</a>
        <div class="team">
            <div class="row">
                <div class="col-md-3">
                    <div class="team-player">                    
                        <img src="assets/img/Santa_Fe_Skies_1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">                    
                        <nav>
                            <a routerLink="/live/adventure/1"><h5 class="title">September 2018</h5></a>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-player">                    
                        <img src="assets/img/South_Padre_1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">                    
                        <nav>
                            <a routerLink="/live/adventure/2"><h5 class="title">October 2018</h5></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>